# Ignorar tudo por padrão
*

# Permitir apenas arquivos HTML dos jogos, imagens PNG e o próprio .gitignore
!*.html
!*.png
!.gitignore

# Permitir pasta jogos e todo o seu conteúdo (JS/CSS/subpastas)
!jogos/
!jogos/**

